:root {
    --primary-color: #b87370;
    --secondary-color: #65b5db;
    --background-color: #ffe4e0;
    --footer-color: #a8122a;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    font-family:'Times New Roman', Times, serif;
    color: var(--secondary-color);
}

html,
body {
    background-color: var(--background-color);
}

.welcometext{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 6px 15px rgba(184, 115, 112, 0.5);
    padding: 5px;
}

.welcometext h2{
    color: #a8122a;
}

.highlight{
    color: var(--secondary-color);
}

main {
  justify-content: space-between; /* sprider dem ut så de hamnar längst ut */
  align-items: flex-start; /* justerar vertikalt */
  gap: 20px;            /* valfritt mellanrum mellan dem */
  margin: 0px 80px;
  margin-top: 2rem;
}

.info-row {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* nu påverkar det verkligen avståndet */
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.moreinfo h2, .licensed h2 {
    color: #a8122a;
}

.moreinfo,
.licensed {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 48%; /* så att de inte spräcker raden */
  box-shadow: 0 6px 15px rgba(184, 115, 112, 0.5);
}

.moreinfo p a{
    color: var(--secondary-color);
    text-decoration: none;
}


footer {
    background-color: var(--footer-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2px 3rem 2px 0;
    color: var(--background-color);
    text-align: right;
}

.logo {
    display: flex;
}

.logo > h2 {
    margin: auto 0;
    padding-left: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
}

.logo > img {
    width: 136px;
    border-radius: 50%;
    margin-top: 34px;
}

.nav-container {
    height: 120px;
    font-size: 1.2rem;
    background-color: var(--primary-color);
}

.nav-container .navbar {
    justify-content: space-between;
}

.nav-container .navbar ul li {
    padding: 10px;
    margin: 0 10px;
}

.navbar {
    display: flex;
    align-items: center;
    height: 100%;
    width: 85%;
    margin: auto;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--secondary-color);
}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.phone-card{
    display: grid;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.phone-card img{
    width: 100%;
    height: 250px;
    object-fit:scale-down;


}

.moreinfo > img{
    width: 400px;
    border-radius: 80%;
}

.licensed > img{
    width: 400px;
    border-radius: 80%;
}