header{
    background-color: #b87370;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #65b5db;
}

html, body{
    background-color: #ffe4e0;
}

footer{
    background-color: #a8122a;

}