:root {
    --primary-color: #b87370;
    --secondary-color: #65b5db;
    --background-color: #ffe4e0;
    --footer-color: #a8122a;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--secondary-color);
}

html,
body {
    background-color: var(--background-color);
}

footer {
    background-color: var(--footer-color);
}

.logo {
    display: flex;
}

.logo > h2 {
    margin: auto 0;
    padding-left: 8px;
}

.logo > img {
    width: 100px;
    border-radius: 50%;
}

.nav-container {
    height: 120px;
    font-size: 1.2rem;
    background-color: var(--primary-color);
}

.nav-container .navbar {
    justify-content: space-between;
}

.nav-container .navbar ul li {
    padding: 10px;
    margin: 0 10px;
}

.navbar {
    display: flex;
    align-items: center;
    height: 100%;
    width: 85%;
    margin: auto;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--secondary-color);
}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.navbar a.active {
    color: var(--secondary-color);
}

.phone-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;

    max-width: 800px; 
    margin: 0 auto;

}

.products-h2{
    text-align: center;
}

.phone-card {
    
    background-color: white;
    border: 2px solid black;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    aspect-ratio: 1 / 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;

    transition: transform 0.3s ease;
}

.phone-card:hover{
    transform: scale(1.05); /* Zoomar in kortet lite grann */
    cursor: pointer;        
    z-index: 10;
}

.phone-card figcaption{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 20px 0px 0 0;
}

.phone-card img {
    width: 100%;
    height: 250px;
    object-fit: scale-down;
}



.add-to-cart{
    margin: 15px;
}

.modal-overlay{
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;

    justify-content: center;
    align-items: center;

}

.modal-overlay:target{
    display: flex;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    position: relative;
    color: black; /* Så texten syns mot vit bakgrund */
}

.close-btn{
    position: absolute;
    top: 10px;
    right:15px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.card-link {
    text-decoration: none;
    color: inherit; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}